<mat-card>
  <mat-card-title>
    <mat-label>{{vehicle.name}}</mat-label>
  </mat-card-title>
  <mat-card-content>
    <mat-label class="mat-step-label">Mannschaft</mat-label>
    <form [formGroup]="crewFormGroup" class="crew-form">

      <app-autocomp-member
        [clubMembers]="clubMembers" [title]="'Steuer'" [control]="crewFormControl"></app-autocomp-member>
      <mat-label>Besatzung</mat-label>
      <app-autocomp-member
        [clubMembers]="clubMembers" [title]="'#1'" [control]="crew1"></app-autocomp-member>
      <app-autocomp-member
        [clubMembers]="clubMembers" [title]="'#2'" [control]="crew2"></app-autocomp-member>
    </form>
  </mat-card-content>
</mat-card>
